
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>全部专家</title>
    <link rel="stylesheet" href="css/style.css">        
</head>
<body  ng-app="expertApp">          
    <ul class="add_bg2" id="allexpert">                         
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div class="ball_detail list_detail">
                <div class="ball_time expert-bar">
                    <div class="expert_capital"><img src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                </div>
                <p class="expert_name">
                    <em>陈亦明</em><mark>高级专家</mark>
                    <span class="fix_cord expert_gz2" ><i>已关注</i></span>
                </p>
                <p class="intr_cont"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
            </div>                    
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
    </ul>   
<script src="js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
$(function (){
    var defaultOption={role:2,type:1,page_index:1,page_num:10};/*默认北京专场，第一页每页10条*/
    var loadingSart = true;
    var noLoadAll=true;
    function loadAllExpert(op){
        defaultOption=$.extend(defaultOption,op);
        $.ajax({
            type:"get",
            url:"http://h5.wingoalclub.com/inf/expertRecommend",
            data:defaultOption,
            dataType:"json",
            error:function (){loadingSart=true;},
            success:function (data){
                loadingSart=true;
                /*data=[
                    {"imageHref":"图片超链接地址",
                    "imageSrc":"图片地址",
                    "nickName":"专家昵称',
                    "title":"标题",
                    "begin_match_time":"开始时间",
                    "home_team":"主场",
                    "guest_team":"客场",
                    "content":"内容",
                    "create_time":"创建时间",
                    "is_hit":"荐中状态(1:荐中 2：未荐中 3：未开奖)"
                    "price":"价格" //price和is_hit互斥
                    }
                ]
                    */
                if(data.status==200){
                    var list=data.data;
                    var html='';
                    for(var i=0;i<list.length;i++){
                        html+='<li class="expert_intr expert_tab">';
                            html+='<div class="ball_detail list_detail">';
                                html+='<div class="ball_time expert-bar">';
                                html+='<div class="expert_capital"><img src="'+list[i].imageSrc+'></div>';
                                html+='</div>';
                                html+='<p class="expert_name"><em>'+list[i].nickName+'</em><mark>高级专家</mark><span class="fix_cord expert_gz2" ><i>已关注</i></span></p>';
                                /*<span class="fix_cord expert_gz" ><i>未关注</i></span>*/
                                html+='<p class="intr_cont"><span>专家介绍:</span>'+list[i].content+'</p>';
                            html+='</div>';
                        html+='</li>';
                                            
                    }
                    $("#allexpert").append(html);

                }
            }
        });
    }
    loadAllExpert();
    
    $(window).scroll(function (){
        var top= parseFloat($(window).height()) + parseFloat($(window).scrollTop()); 
        if($(document).height() <= top-10){
            if(loadingSart && noLoadAll){ 
                loadingSart=false;
                var pageNum=defaultOption.page_index+1;
                loadPlayType({page_index:pageNum});
            } 
        } 
    });
});
</script> 
</body>
</html>