
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>全部专家</title>
    <link rel="stylesheet" href="css/style.css">        
</head>
<body  ng-app="expertApp">          
    <ul class="add_bg2" ng-controller="listcontroller">                         
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">89d6bd687e9c4f95a73afbccdb0801cc</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473439890476mmexport1473438809716.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">陈亦明</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz2" ng-class="setStyle(0)"><i class="ng-binding">已关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>腾讯体育、乐视体育、暴风体育等足球解说嘉宾。前广东宏远队、成都五牛队主教练，是著名的足球战术大师。</p>                             
                </div>  
            </div>                          
        </li>
        <li class="expert_intr expert_tab ng-scope" ng-repeat="list in data">
            <div ng-click="goExpertDetailPage(list.userId)">
                <span class="expert_id hide_all ng-binding">c2d6caefea8b4d53bda3a48a16fbe015</span>
                <div class="ball_detail list_detail">
                    <div class="ball_time expert-bar">
                        <div class="expert_capital"><img ng-src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg" src="https://baoying365.oss-cn-shanghai.aliyuncs.com/bycimg_header/userHeaderBigImage1473438020691image.jpg"></div>
                    </div>
                    <p class="expert_name">
                        <em class="ng-binding">宝哥彩吧</em><mark class="ng-binding">高级专家</mark>
                        <span class="fix_cord expert_gz" ng-class="setStyle(1)"><i class="ng-binding">未关注</i></span>
                    </p>
                    <p class="intr_cont ng-binding"><span>专家介绍:</span>足彩五要素和宝哥彩吧创始人，前腾讯彩票和足彩310主编。推荐曾多次命中500万大奖。两次采访澳彩公司，与威廉希尔、bet365等博彩公司联系密切。</p>                             
                </div>  
            </div>                          
        </li>
    </ul>   
</body>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script>
    
    //1.获取专家列表：
    var expertApp = angular.module("expertApp", []);
    expertApp.controller("listcontroller",function($scope, $http) {
        //接口加工       
        var object = new Object;
        var header = createHeader(loginUserId,'getExpertList');
        var body = new Object;
        body.loginUserId = loginUserId;
        //字符串加密处理：              
        object.header = header;//此方法衔接部分见jiami.js       
        object.body = body;
        var encoded = JSON.stringify(object);
        //加密字符串
        var str = encryptByDES(encoded, encryptKey);
        var sign = hashCode(str);

        $http({
            method : 'POST',
            url : portalUrl+'expert/getExpertList',
            params : {
                token : "",
                jsonParams : str,
                sign : sign,
                requestSource : 4
            },
            headers : {
                'Content-Type' : 'application/json'
            }
        }).success(function(response) {
            //回调函数
            var res0 = trim(response.retValue, 'g');
            var ret = decryptByDES(res0, encryptKey);
            var ret = jQuery.parseJSON(ret);
            $scope.data = ret.body.data;
            var list = ret.body.data;
            $.each(list, function(i, item) {
                if (item.isFocused == "0") {
                    item.isFocusedName = "已关注"
                } else if (item.isFocused == "1") {
                    item.isFocusedName = "未关注"
                } else if (item.isFocused == "2"){
                    item.isFocusedName = ""
                }
            });
        });
        
        //去专家详情页
        $scope.goExpertDetailPage = function(expertUserId){
            window.location.href="expert-intr.html?expertUserId="+expertUserId;
        }
        
        //<!-- "isFocused": "2",  --是否已关注该专家:0已关注 1未关注 2自己 -->
        $scope.setStyle = function(args) {
            //已关注
            if (args == 0)
                return 'expert_gz2';
            //未关注
            else if (args == 1)
                return 'expert_gz';
            //自己
            else if (args == 2)
                return '';
        }
    });
                        
    </script> 
</html>